#calculator-wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg,rgba(234, 95, 20, 0.25) 0%,rgba(226, 167, 0, 0.25) 25%, rgba(226, 165, 0, 0.25) 50%, rgba(155, 0, 89, 0.25) 75%);
}

#calculator-title {
  font-size: 45pt;
  font-style: normal;
  font-weight: bold;
  color: #00a2c7;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 75px;
}

.step-title {
  font-weight: bold;
  font-size: 55px;
  font-family: Roboto;
  font-style: normal;
  color: #555555;
  margin: 5% 0 5% 5%;
}

.step-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-wrapper {
  display: flex;
  background: rgba(110, 118, 125, 0.5);
  padding: 20px;
  flex-direction: column;
  max-width: 500px;
}

.input-title {
  display: block;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.user-input {
  width: 250px;
  height: 50px;
  font-size: 18pt;
  margin-bottom: 5%;
}

#img-roomdim {
  width: 400px;
  height: 400px;
}

#ventilation-left-box {
  width: 30%;
}

.extra-text {
  font-size: 19pt;
  font-weight: 400;
  text-align: left;
}

#density-extra-text {
  margin-left: 5%;
  width: 50%;
}

#cadr-input,
#air-cleaner-selection,
#num-aircleaners {
  width: 325px;
}

#img-ventilation {
  width: 350px;
  height: 350px;
}

#extra-text-title {
  font-weight: 700;
  font-size: 20pt;
}

#button-wrapper {
  position: relative;
  height: 48px;
  margin-bottom: 20px;
}

#results-btn {
  background-color: rgb(234, 95, 20, 1);
  color: white;
  border: white;
  height: 48px;
  width: 200px;
  font-size: 18px;
  text-align: center;
  position: absolute;
  right: 10%;
}

#img-cadr {
  height: 500px;
  width: 350px;
}

#img-density {
  height: 400px;
  width: 300px;
}

.label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.helptext {
  font-weight: bold;
  font-size: 19pt;
  color: black;
  margin: -4% 0 2% 5%;
  width: 50%;
}

span {
  font-weight: bold;
}

.radio-help-text {
  margin-left: 5%;
  font-size: 13pt;
  width: 90%;
}

.radio-btn-text {
  font-size: 17pt;
  margin-left: 1%;
}

.input-line-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.unit-text {
  margin-left: 8px;
  font-size: 17pt;
  font-weight: bold;
  width: 5%;
}

#unit-input {
  margin-bottom: 10px;
}

.required {
  color: red;
}

/* Tool tip was not working with classes for some reason */
#cadr-model-tooltip,
#cadr-value-tooltip,
#density-space-tooltip,
#density-average-tooltip,
#density-maximum-tooltip,
#density-phase-tooltip,
#density-occupancy-tooltip {
  font-size: 15pt;
  width: 20%;
}

#density-or-text {
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}

#divider {
  display: block;
  width: 96%;
  background-color: black;
  height: 1px;
  margin: 2em auto;
}

.tooltip-link {
  color: rgb(234, 95, 20, 1);
}

.error-message {
  color: #cc0033;
  margin-top: -3%;
  display: none;
}

@media (max-width: 920px) {
  #img-density,
  #img-roomdim,
  #img-density,
  #img-ventilation,
  #img-cadr {
    display: none;
  }

  #calculator-title {
    font-size: 45px;
    margin-top: 50px;
  }

  .step-title {
    font-size: 45px;
    margin: 6% 0 6% 5%;
  }

  .user-input {
    width: 200px;
    height: 40px;
    font-size: 15pt;
  }

  .help-text {
    font-size: 15pt;
    margin-left: 5%;
  }

  .step-wrapper {
    justify-content: center;
  }

  #ventilation-options {
    width: 75%;
  }

  .helptext {
    width: 75%;
  }

  #results-btn {
    right: unset;
  }

  #button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
  }
}

@media (max-width: 420px) {
  #calculator-title {
    font-size: 35px;
    margin-top: 35px;
  }

  .step-title {
    font-size: 35px;
    padding-right: 10px;
  }

  .input-title {
    font-size: 14pt;
  }

  .user-input {
    width: 90%;
    height: 40px;
    font-size: 15pt;
  }

  .step-wrapper {
    flex-direction: column;
  }

  .input-wrapper {
    width: 60%;
  }

  .help-text {
    font-size: 15pt;
    width: fit-content;
    margin: 3%;
  }

  #ventilation-text {
    font-size: 15pt;
    margin: 3%;
  }

  #ventilation-text-title {
    font-size: 16pt;
  }

  #density-left-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .helptext {
    font-size: 12pt;
    margin: 10px auto;
    width: 75%;
  }

  #cadr-input,
  #air-cleaner-selection,
  #num-aircleaners {
    width: 90%;
  }

  .radio-help-text {
    font-size: 12pt;
  }

  #cadr-model-tooltip,
  #cadr-value-tooltip,
  #density-average-tooltip,
  #density-maximum-tooltip,
  #density-phase-tooltip,
  #density-occupancy-tooltip {
    font-size: 10pt;
    width: 40%;
  }
}
