.air-cleaner-list-item {
    display: flex;
    background-color: white;
    width: 100%;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.air-cleaner-image-container {
    margin-left: 5px;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.air-cleaner-image {
    width: 175px;
    height: 175px;
    object-fit: contain;
}

.air-cleaner-high-level-details {
    padding-left: 10px;
    padding-right: 10px;
}

.air-cleaner-name {
    font-size: 20px;
}

.air-cleaner-details-button {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 15px;
}

@media (max-width: 768px) {
    .air-cleaner-list-item {
        display: block;
    }

    .air-cleaner-image-container {
        float: left;
    }

    .air-cleaner-image {
        width: 125px;
        height: 125px;
    }

    .air-cleaner-list-item-detail {
        font-size: 15px;
    }

    .air-cleaner-name {
        font-size: 18px;
    }
    
    .air-cleaner-details-button-container {
        text-align: center;
    }
}